.z0{
    z-index: 0;
}

.z1 {
    z-index: 1;
}

.z2{
    z-index: 2;
}

.z3{
    z-index: 3;
}

/*Header*/

.container-fluid {
    height: 18vh;
    background-color: #343232;
}

div.barra{
    padding-left: 20%;
}
.navbar {
    background-color: #343232;
    padding: 0%;
}

.navbar-brand{
    color: white;
}

.logo {
    height: 10vh;
}

.nav-item .letra {
    color: gray;
}

a.nav-link.letra:hover{
color: white;
}

.compra {
    color: green;
}

.titulo{
    color: white;
    font-size: large;
}


.navbar-nav .sm{
color: black;
}

.cuerpo{
    color: white;
    font-size: large;
    text-align: end !important;
}

.cabecera{
    color: white;
    font-size: large;
    text-align: end !important;
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%; 
  filter: brightness(75%);
}


.cajita {
    padding-top: 10%;
}

div.botones {
   padding-left: 51%;
}

.formato{
    padding-right: 5%;
}
.bsas{
    background-color: #41464b;
    color: white;
}

.btn .opcion{
    width: 20vw;
}

.epigrafe{
    color: grey;
}

.oradores{
    font-size: x-large;
    font-weight: bold;
}

.form-control{
    color: gray;
}

h5{
    align-items: flex-end;
}

/*footer*/

div.navbar, .navbar-expand-sm{
    background-color: rgba(12, 66, 99);
    height: 15vh;
}

div.navbar-collapse a{
    color: white;
}

a.nav-link.active.inicio{
    color: white;
    
}

a.nav-link.active.inicio:hover{
    color: rgb(4, 4, 40);
}

/*************************************pestaña comprar tickets***********************************/



.valor{
    font-size: 50px;
    font-weight: 500;
}


.container-fluid.a-pagar{
    background-color: rgb(204, 229, 255);
    border: thin;
    margin-top: 30px;
    margin-bottom: 30px;
    color: blue;
    text-align: justify;
    height: 10vh;
    padding-top: 15px;
}

/*.div.boton-ticket.row{
    
}*/
.costo{
text-align: center;
}

.btn-borrar{
background-color: rgb(151, 201, 62);
border-radius: 5px;
text-align: center;
}

.btn-resume{
    background-color: rgb(151, 201, 62);
    border-radius: 5px;
    text-align: center;
}

.boton-ticket{
    justify-content: space-between;
}

.btn.decision{
    color: white;
    
}

/*.color {
    border-color: blue;
}*/

/*.border {
    border-color: orange;
}*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    opacity: 0;
    pointer-events: none;
}

.modal--show{
    opacity: 1;
    pointer-events: unset; 
}

.modal_container{
    margin: auto;
    width: 90%;
    max-width: 600 px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
}

.modal_title{
    font-size: 2.5rem;
}

.modal_paragrapf{
    margin-bottom: 10px;
}

.modal_close{
    text-decoration: none;
    color: #fff;
    background-color: #f26250;
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal_close:hover{
    color: #f26250;
    background-color: #fff;
}
 